################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeGenerator/obj
/CodeGenerator/bin/Debug/net7.0
/.vs
/CodeGenerator/bin/Release/net7.0
/CodeGenerator/BenchmarkDotNet.Artifacts
